header {
    background-color: #f1f1f1;
    display: block;
}

.top-header {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
}

.bot-header {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
}

.bot-header a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer {

    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}